APP_NAME="Nashmi Store"
APP_ENV=production
APP_KEY=base64:MXJmt3/OC9eqnEtldN8Zgn+977FMR8cSGsC3etqPEfg=
APP_DEBUG=false
APP_LOG_LEVEL=debug
APP_URL=https://ns.urdun-tech.com

ASSET_URL=https://ns.urdun-tech.com

VITE_DEV_SERVER=true

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=whatsstore_db
DB_USERNAME=whatsstore_user
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=redis
SESSION_DRIVER=redis
QUEUE_DRIVER=redis

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=resend
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=
MAIL_ENCRYPTION=null

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
GOOGLE_CLIENT_ID=950543752883-h5lua4jvi9s74a5albplgsligoott8pc.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=https://ns.urdun-tech.com/auth/google/callback
GOOGLE_CLIENT_ID=950543752883-h5lua4jvi9s74a5albplgsligoott8pc.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=https://ns.urdun-tech.com/auth/google/callback
RESEND_API_KEY=
SESSION_LIFETIME=10080
SESSION_EXPIRE_ON_CLOSE=false

MAIL_MAILER=resend
MAIL_FROM_ADDRESS=info@urdun-tech.com
MAIL_FROM_NAME="Nashmi Store"

QUEUE_CONNECTION=redis
